.dashboard {
  min-height: 100vh;
  
  background-color: #ffffff;
  padding: 30px;
  
  gap: 30px;
    background:
     
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url("../DD_background.png");

  background-size: contain;
  background-position: center 70%;
  background-repeat: no-repeat;
}
.dashboard-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 10px;
  width: 240px;
  height: 140px;

  background-color: #038442;
  color: white;

  border: 2px solid black;
  border-radius: 15px;

  font-size: 20px;
  font-family: "Open Sauce Sans", sans-serif;

  cursor: pointer;
  text-decoration: none;

  transition: color 0.3s ease, background-color 0.3s ease;
}
.dashboard-header {
  display: flex;
  align-items: center;
  gap: 30px;

  width: 100%;
  padding: 20px;
  margin-bottom: 20px;

  background-color: rgba(242, 234, 223, 0.85); 
  backdrop-filter: blur(4px);

  color: #038442;
  border: 2px solid black;
  border-radius: 12px;

  font-size: 24px;
  font-family: Open Sauce Sans, sans-serif;
}

.logo {
  width:80px;
  border-color:black;
  
  border-radius: 12px;
}
.hover-text {
  color: #f2ecdc;
  transition: color 0.3s ease; 
  cursor: pointer; 
}
.dashboard-button:hover {
  color: black;
  background-color: #6fd9a7;
    opacity: 0.9;
}
.dashboard-buttons {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
